@use '../../styles/variables' as v;

.form-field {
    width: 100%;
    position: relative;
    border: 1px solid v.$color-tertiary;
    display: flex;
    border-radius: 4px;

    i {
        width: 35px;
        padding: 0.5rem;
        font-size: 1.3rem;
        background-color: v.$color-tertiary;
        color: v.$color-primary;
        border-radius: 2px 0 0 2px;
    }

    .eye {
        position: absolute;
        right: 1px;
        color: v.$color-tertiary;
        background-color: transparent;
    }
}

.form-input {
    padding: 0.5rem;
    margin: 0;
    font-size: 1rem;
    background-color: transparent;
    color: v.$color-secondary;

    &:focus-within {
        outline: 2px solid v.$color-tertiary;
        border-radius: 4px;
    }
}
