
@use '../../styles/variables' as v;


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
    background-color: v.$color-primary;
    border-radius: 2px;

    p {
        font-size: 0.9rem;
        color: v.$color-secondary-lower;
        padding: 0.3rem;
        padding-bottom: 0.5rem;

        a {
            color: v.$color-accent;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.form-title {
    border-radius: 2px;
    text-align: center;
    width: 100%;
    color: v.$color-primary;
    background-color: v.$color-tertiary;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.form-data {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.form-field {
    border: 1px solid v.$color-tertiary;
    display: flex;
    border-radius: 4px;

    i {
        padding: 0.5rem;
        font-size: 1.3rem;
        background-color: v.$color-tertiary;
        color: v.$color-primary;
        border-radius: 2px 0 0 2px;
    }
}

.form-input {
    padding: 0.5rem;
    margin: 0;
    font-size: 1rem;
    background-color: transparent;

    &:focus-within {
        outline: 2px solid v.$color-tertiary;
        border-radius: 4px;
    }
}