* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-cont {
    margin: 2rem 0;
    min-width: 360px;
}

button {
    cursor: pointer;
    background-color: inherit;
}