* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}
