
@use '../../styles/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap');


$light-blue: rgba(167, 227, 243, 0.809);
$light-grey: rgba(147, 150, 150, 0.825);
$grey: rgb(82, 159, 159);

.head {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding-bottom: 1rem;
}

.title {
    font-family: "Josefin Sans", serif;
    font-weight: 900;

    span {
        color: aqua;
    }
}

.car-form {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid white;
    transition: all 0.2ss ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 90%;
        border: 2px solid transparent;
        transition: all 0.2s ease-in-out;
        pointer-events: none;
    }

    &:focus-within::before {
        width: 99%;
        border: 2px solid white;
    }
}

.cars-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.car-input {
    width: 19rem;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Noto Sans Hanunoo", serif;

    &:hover {
        cursor: pointer;
    }

    &::placeholder {
        font-family: "Noto Sans Hanunoo", serif;
        color: $light-blue;
    }

    &:focus {
        outline: none;
    }
}

@keyframes buttonClick {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(20px);
        opacity: 0;
    }

    51% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.car-x-btn {
    position: absolute;
    background-color: transparent;
    font-size: 1.4rem;
    top: 22%;
    left: 80%;
    transition: all 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: #a10606;
        transform: translateY(-3px);
    }
}

.car-go-btn {
    position: absolute;
    left: 88%;
    top: 22%;
    padding-right: 0.3rem;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: #a10606;
        transform: translateX(3px);
    }
}

.clicked {
    animation: buttonClick 0.5s ease-in-out;
}