@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap');
@import '../../styles/variables';


.logo {
    width: 100px;
    height: auto;
    margin: 0em 0.5em;
}

.header {
    background-color: rgb(56, 63, 56);
    box-sizing: border-box;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

.search-form {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid lightgrey;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0;
        background-color: white;
        transition: width 0.3s ease-in-out;
    }

    &:focus-within::after {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
    }
}

.search-input {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.5em;
    font-size: 1rem;
    font-family: "Noto Sans Hanunoo", serif;

    &:hover {
        cursor: pointer;
    }

    &::placeholder {
        color: lightgrey;
    }

    &:focus {
        outline: none;
    }


}

.search-btn {
    font-size: 1.3em;
    background-color: transparent;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: none;
    color: white;
    transition: all 0.3s ease-in;

    &:hover {
        cursor: pointer;
        color: lightgrey;
    }
}

.cancel-btn {
    font-size: 1.4em;
    position: absolute;
    top: 18%;
    left: 77%;
    background-color: transparent;
    padding-right: 4px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
        cursor: pointer;
        color: lightgrey;
    }
}

.login-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
    background-color: transparent;
    color: lightblue;
    gap: 0.4em;
    margin-right: 1em;
    transition: color 0.3s ease-in-out;

    border: none;

    i {
        opacity: 0;
        transform: translateX(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover {
        color: lightgrey;

        i {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 20%;
        width: 80%;
        height: 100%;
        border: 1px solid lightblue;
        transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
        pointer-events: none;
    }

    &:hover::before {
        border-color: gray;
        transform: scale(1.1);
        border-left: none;
    }
}

.prof-cont {
    position: relative;
}

.prof-button {
    font-size: 1.5em;
    color: whitesmoke;
    background-color: transparent;
    margin-right: 1em;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: lightgray;
    }
}

.prof-info-cont {
    padding: 0.5em;
    position: absolute;
    top: 50px;
    left: -100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 103, 102);
    gap: 1em;
    border-radius: 6px;

    button {
        color: whitesmoke;
        text-decoration: none;
        background-color: transparent;


    }
}

.icon-text {
    border-radius: 5px;
    position: relative;
    padding: 0.5em 0.3em;
    display: flex;
    gap: 0.5em;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgb(53, 51, 51);
    }

    button {
        white-space: nowrap;
        color: whitesmoke;
    }
}

.add-before {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 120%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: whitesmoke;
        z-index: 1000;
    }
}