@use '../../styles/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap');

.logo {
    width: 70px;
    height: auto;
    margin-right: 0.5rem;
}

.header {
    height: 8vh;
    background-color: v.$color-primary;
    box-sizing: border-box;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: v.$color-secondary;
}

.right-div {
    display: flex;
    align-items: center;

    i {
        font-size: 1.3rem;
        padding: 0 0.8rem;
    }
}

.search-form {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    background-color: transparent;
    color: v.$color-secondary;
    border-bottom: 1px solid v.$color-secondary;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0;
        background-color: v.$color-secondary;
        transition: width 0.3s ease-in-out;
    }

    &:focus-within::after {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
    }
}

.search-input {
    width: 80%;
    background-color: transparent;
    font-weight: 500;
    color: v.$color-secondary;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Noto Sans Hanunoo", serif;

    &:hover {
        cursor: pointer;
    }

    &::placeholder {
        font-weight: 300;
        color: v.$placeholder-color;
    }

    &:focus {
        outline: none;
    }


}

.search-btn {
    width: 20%;
    font-size: 1.3rem;
    background-color: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
    color: v.$color-tertiary;
    transition: all 0.3s ease-in;

    &:hover {
        transform: rotateZ(20deg);
        cursor: pointer;
        color: v.$color-accent;
    }
}

.cancel-btn {
    font-size: 1.4rem;
    position: relative;
    background-color: transparent;
    color: v.$color-tertiary;
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
        transform: translateY(-2px);
        cursor: pointer;
        color: v.$color-accent;
    }
}

.login-btn {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
    color: v.$color-tertiary;
    gap: 0.4rem;
    margin-right: 1rem;
    transition: color 0.3s ease-in-out;

    border: none;

    i {
        opacity: 0;
        transform: translateX(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover {
        color: v.$color-tertiary;

        i {
            opacity: 1;
            transform: translateX(0);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 20%;
        width: 80%;
        height: 100%;
        border: 1px solid v.$color-tertiary;
        transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
        pointer-events: none;
    }

    &:hover::before {
        border-color: v.$color-tertiary;
        transform: scale(1.1);
        border-left: none;
    }
}

.prof-cont {
    position: relative;
}

.prof-button {
    font-size: 1.5rem;
    color: v.$color-secondary;
    background-color: transparent;
    margin-right: 1rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        color: v.$color-tertiary;
    }
}

.prof-info-cont {
    padding: 0.5rem;
    position: absolute;
    top: 50px;
    left: -110px;
    display: flex;
    flex-direction: column;
    background-color: v.$color-primary;
    gap: 1rem;
    border-radius: 6px;
    z-index: 99;

    button {
        color: v.$color-secondary;
        text-decoration: none;
        background-color: transparent;
    }
}

.icon-text {
    border-radius: 5px;
    position: relative;
    padding: 0.5rem 0.3rem;
    display: flex;
    gap: 0.5rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: v.$primary-hover;
    }

    button {
        white-space: nowrap;
        color: v.$color-secondary;
    }
}

.add-before {
    position: relative;


    &::before {
        content: "";
        position: absolute;
        bottom: 120%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: v.$color-secondary;
        z-index: 1000;
    }
}