@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$colcected-color: #42500d;
$uncollected-color: #7d807c;
$wishlisted-color: #6b5499;
$unwishlisted-color: #7d807c;


.collected-button,
.wishlisted-button {
    color: aqua;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 0.8em;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em 0.5em;

    i {
        font-size: 1.5em;
        color: rgb(68, 12, 12);
    }

    &:hover {
        cursor: pointer;
    }
}

.collected-button {

    background-color: $uncollected-color;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $colcected-color;
        transition: width 0.5s ease;
        z-index: 1;
    }
    
    &:hover::after {
        width: 100%;
    }
    
    
    &>* {
        position: relative;
        z-index: 2;
    }

    &.active {
        background-color: $colcected-color;
    }

    &.active::after {
        background-color: $uncollected-color;
    }
}

.wishlisted-button {
    background-color: $unwishlisted-color;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        width: 0;
        height: 100%;
        background-color: $wishlisted-color;
        transition: width 0.5s ease;
        z-index: 1;
    }

    &:hover::before {
        width: 100%;
    }

    &>* {
        position: relative;
        z-index: 2;
    }

    &.active {
        background-color: $wishlisted-color;
    }

    &.active::before {
        background-color: $unwishlisted-color;
    }
}