@use '../../styles/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.sidebar {
    padding: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    width: 260px;
    height: 100vh;
    background-color: v.$color-primary;
    -webkit-box-shadow: 4px 3px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 3px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 3px 10px 1px rgba(0, 0, 0, 0.5);
}

.header {
    font-family: "Josefin Sans", serif;
    color: v.$color-secondary;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid v.$color-secondary;
}

.cancelBtn {
    color: v.$color-tertiary;
    padding: 0.5rem;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: v.$color-accent;
    }
}