$color-primary: hsl(0, 50%, 90%);
$color-primary-lower: hsl(0, 50%, 95%);
$color-secondary: hsl(0, 50%, 10%);
$color-tertiary: hsl(60, 80%, 20%);
$color-accent: hsl(300, 80%, 20%);
$color-secondary-lower: hsl(0, 50%, 40%);
$placeholder-color: hsl(0, 50%, 40%);
$primary-hover: hsl(0, 50%, 80%);



    $color-primary: hsl(0, 50%, 10%);
    $color-primary-lower: hsl(0, 50%, 5%);
    $color-secondary: hsl(0, 50%, 90%);
    $color-tertiary: hsl(60, 80%, 80%);
    $color-accent: hsl(300, 80%, 80%);
    $color-secondary-lower: hsl(0, 50%, 70%);
    $placeholder-color: hsl(0, 50%, 70%);
    $primary-hover: hsl(0, 50%, 20%);
