@use '../../styles/variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

$separate-border-c: hsl(0, 0%, 30%);
$hover-info-c: hsl(0, 0, 5%);
$colcected-color: hsl(118, 100%, 30%);
$uncollected-color: v.$color-primary;

.car-card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 1rem;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
}

.car-title {
    position: relative;
    font-family: "Roboto Slab", serif;
    background: v.$color-primary;
    color: v.$color-secondary;
    padding: 0.7rem 0.5rem;
    background-size: cover;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    gap: 0.7rem;
    display: flex;
    justify-content: center;

    .caret {
        position: absolute;
        top: 30%;
        right: 15px;
    }
}

.treasure-hunt-bg {
    font-size: 1.4rem;
    font-family: "Oswald", serif;
    background: url('../../assets/gold_bg.svg') no-repeat center/cover;
    color: hsl(120, 22%, 10%);
}

.s-treasure-hunt-bg {
    font-size: 1.4rem;
    font-family: "Oswald", serif;
    background: rgb(59, 21, 88);
    background: linear-gradient(69deg, rgba(59, 21, 88, 1) 12%,
            rgba(63, 18, 98, 1) 14%, rgba(17, 28, 88, 1) 28%,
            rgba(38, 47, 112, 1) 32%, rgba(50, 15, 98, 1) 52%,
            rgba(75, 23, 148, 1) 57%, rgba(50, 16, 96, 0.9864320728291317) 61%,
            rgba(50, 4, 119, 1) 84%);
    color: aqua;
}

.car-info-container {
    background: rgb(37, 37, 33);
    background: linear-gradient(63deg, rgba(37, 37, 33, 1) 29%, rgba(24, 23, 27, 1) 63%, rgba(22, 21, 23, 1) 100%, rgba(38, 34, 42, 1) 100%);
}

.car-info {
    text-transform: uppercase;
    display: flex;
    color: wheat;

    p {
        width: 50%;
    }

    .info-title {
        padding: 1rem;
        color: wheat;
        border-bottom: 1px solid $separate-border-c;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $hover-info-c;
        }
    }

    .info {
        padding: 1rem;
        color: white;
        border-bottom: 1px solid $separate-border-c;
        border-left: 1px solid $separate-border-c;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $hover-info-c;
        }
    }
}

.car-action-buttons {
    display: flex;
}

.logged-out-collect {
    color: v.$color-secondary;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 0.8rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1.1rem 0;
    border-top: 2px solid v.$color-secondary;

    i {
        font-size: 1.5rem;
    }

    &:hover {
        cursor: pointer;
    }

    background-color: $uncollected-color;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $colcected-color;
        transition: width 0.5s ease;
        z-index: 1;
    }
    
    &:hover::after {
        width: 100%;
    }
    
    
    &>* {
        position: relative;
        z-index: 2;
    }

    &.active {
        background-color: $colcected-color;
    }

    &.active::after {
        background-color: $uncollected-color;
    }
}